.text {
    width: auto;
    height: 150px;
    background-color: rgb(0, 42, 67);
    border-radius: 10px;
    color: white;
    text-align: center;
    align-items: center;
    padding-top: 10px;
}

.text2 {
    width: auto;
    height: 120px;
    background-color: white;
    border-radius: 10px;
    filter: drop-shadow(20);
    box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.3);
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;


}

.green {
    color: green;
}

.text3 {
    width: auto;
    height: 270px;
    background-color:rgb(99, 255, 216);
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    padding-top: 6px;
    box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.3);
    color: green;

}
.color{
    text-align: left;
    color: rgb(84, 84, 84);
}
.color2{
    text-align: left;
    color: rgb(0, 149, 255);
}
.color3{
    text-align: left;
    color: green;
}
.color4{
    text-align: left;
    color: rgb(84, 84, 84);
}
.text4{
    width:auto;
    height:230px;
    background-color: rgb(255, 227, 196);
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.3);
    color: red;
}
.color5{
    color: rgb(84, 84, 84);
    font-size: 15px;
}
.color6{
   color: rgb(84, 84, 84); 
   text-align: left;
}
.text5{
    width: auto;
    height: auto;
    background-color: rgb(0, 42, 67);
    border-radius: 10px;
    color: white;
    text-align: center;
    padding-top: auto;
}